.content{
    width:100%;
}
.left-content{
    width: 20%;
    border:1px solid red;
    float: left;
}
.right-content{
    width: 78%;
    border:1px solid red;
    float: left;
    margin-left:1%;
}
.right-content img{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}